{% extends "template.html" %}
{% block content %}
    <h1>This is the page where all boards are displayed!</h1>
    {% for board in boards %}
        <div>
            <input type="button" value="open" onclick="location.href='{% url "board_list" %}{{ board.pk }}'" />
            {% if board.owner.pk == request.user.pk or request.user.is_superuser %}
                <input type="button" value="edit" onclick="location.href='{% url "board_list" %}{{ board.pk }}/update/'" />
            {% else %}
                <input disabled type="button" value="edit" onclick="location.href='{% url "board_list" %}{{ board.pk }}/update/'" />
            {% endif %}
            <p style="display: inline;">
                Title: {{ board.title }}, Members:
                {% for member in board.members.all %}{{ member.username }},{% endfor %}
                Owner: {{ board.owner.username }}
            </p>
        </div>
    {% endfor %}
{% endblock content %}
