<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="color-scheme" content="light dark" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {{ form.media }}
        <title>{{ page_title }}</title>
        <style>
            body {
                font-family: "Montserrat", sans-serif;
            }
        </style>
    </head>
    <body>
        {% comment %} HEADER {% endcomment %}
        <header>
            {% if request.user.is_superuser %}
                <input type="button" value="Admin page" onclick="location.href='/admin/'" />
            {% endif %}
            {% if request.user.is_authenticated %}
                <form action="{% url "auth_logout" %}" method="post" style="display: inline">
                    {% csrf_token %}
                    <input type="submit" value="Logout: {{ request.user.username }}" onclick="location.href='{% url "auth_logout" %}'" />
                </form>
            {% else %}
                <input type="button" value="Register" onclick="location.href='{% url "auth_register" %}'" />
                <input type="button" value="Login" onclick="location.href='{% url "auth_login" %}'" />
            {% endif %}
            <input type="button" value="Home" onclick="location.href='{% url "app_home" %}'" />
            <input type="button" value="Projects" onclick="location.href='{% url "project_list" %}'" />
        </header>
        {% comment %} CONTENT {% endcomment %}
        {% block content %}
        {% endblock content %}
    </body>
</html>
